<section class="container">
  <h4 class="text-primary font-weight-bold pt-4">Actualizar equipo</h4>
  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name" class="font-weight-bold text-primary">Nombre del equipo</label>
      <input type="text" class="form-control" placeholder="Equipo" formControlName="name">
    </div>
    <div class="form-group">
      <label for="name" class="font-weight-bold text-primary">Descripción del equipo</label>
      <textarea type="text" class="form-control" placeholder="Descripción" formControlName="description"></textarea>
    </div>
    <ul>
      <li *ngFor="let member of team.integrants">
        a {{ member | json }}
      </li>
    </ul>
    <button type="submit" class="btn btn-primary {{ teamForm.status == 'INVALID' ? 'disabled' : ''}}">
      Actualizar equipo
    </button>
  </form>
</section>
