@import url(https://fonts.googleapis.com/css?family=Roboto);
$md-chip-height: 32px;
$md-chip-color: #e0e0e0;

.md-chip {
  display: inline-block;
  background: $md-chip-color;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
  &.md-chip-hover:hover {
    background: #ccc;
  }
}

.md-chip-clickable {
 cursor: pointer;
}

.md-chip, .md-chip-icon {
  height: $md-chip-height;
  line-height: $md-chip-height;
}

.md-chip-icon {
  display: block;
  float: left;
  background: #009587;
  width: $md-chip-height;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}

.md-chip-remove {
  display: inline-block;
  background: #aaa;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 20px;
  &:after { 
    color: $md-chip-color;
    content: 'x';
  }
  &:hover {
    background: #999;
  }
  &:active {
    background: #777;
  }
}

.md-chips {
  padding: 12px 0;
  .md-chip {
    margin: 0 5px 3px 0;
  } 
}

.md-chip-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
  0 1px 5px 0 rgba(0, 0, 0, 0.12), 
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background:#f0f0f0;
  position: absolute;
  width:100%;
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
  color: #333;
}

section {
  background:white;
  margin:0 auto;
  padding: 4em;
  max-width: 800px;
  h1 {
    margin: 0 0 2em;
  }
}

.comp{
  margin-left: 80%;
  margin-top: -40%;
}

// Colors
$color1: #51C1F0;
$color2: #7DCE94;

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#save {
  padding: 20px 50px;
  border-radius: 30px;
  border: 0;
  background: $color1;
  color: white;
  transition: all 150ms ease;
  cursor: pointer;
  box-shadow: 0 30px 30px -20px rgba(0,0,0,0.4);
  &:hover, &:focus {
    background: darken($color1, 10%);
    outline: 0;
    box-shadow: 0 30px 30px -25px rgba(0,0,0,1);
    transform: translateY(3px);
  }
  &:active {
    background: darken($color1, 15%);
    box-shadow: 0 30px 30px -20px rgba(0,0,0,0.4);
    transform: translateY(5px);
  }
  &:disabled {
    cursor: auto;
    &:hover {
      box-shadow: 0 30px 30px -20px rgba(0,0,0,0.4);
    }
  }
  &.done {
    background: $color2;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .spinner {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    animation: loading 0.5s infinite linear;
  }

  @keyframes loading {
    to { transform: rotate(360deg); }
  }

  @keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
  }
}

