<section class="container">
  <h4 class="text-primary font-weight-bold pt-4">Crear tarea</h4>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name" class="font-weight-bold text-primary">Titulo de la tarea</label>
      <input type="text" class="form-control" placeholder="Tarea" formControlName="name">
    </div>
    <div class="form-group">
      <label>Asignado a:</label>
      <div class="md-chips">
        <div class="md-chip md-chip-hover">
          <div class="md-chip-icon">EA</div>
          <div class="md-chip-icon">FH</div>
        </div> 
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" formControlName="deadline">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
            <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea formControlName="description" class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="labels">Etiquetas</label>
      <input type="text" class="form-control" formControlName="labels" placeholder="Etiquetas">
    </div>
    <button type="submit" class="btn btn-primary {{ taskForm.status == 'INVALID' ? 'disabled' : ''}}">
      Crear tarea
    </button>
  </form>
</section>
