<section class="container shadow">
  <form>
    <div class="form-group">
      <label for="title" class="font-weight-bold text-primary">Titulo de la tarea</label>
      <input type="text" class="form-control" placeholder="Tarea">
    </div>
    <div class="form-group">
      <label>Asignado a:</label>
      <div class="md-chips">
        <div class="md-chip md-chip-hover">
          <div class="md-chip-icon">EA</div>
          <div class="md-chip-icon">FH</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
            <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="labels">Etiquetas</label>
      <input type="text" class="form-control" placeholder="Etiquetas">
    </div>
    <button class="btn btn-primary">
      Crear tarea
    </button>
  </form>
</section>
