<div class="container">
  <h4 class="text-primary font-weight-bold pt-4">Equipos</h4>
  <div class="list-group list-group-flush">
    <a  (click)='open(content, team._id)'  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
      *ngFor="let team of teams" [routerLink]="['/team/edit', team._id]">
        {{team.name}}
      <span class="badge badge-primary badge-pill text-wrap">
        {{team.description}}
      </span>
    </a>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar integrante</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="memberForm">
      <div class="form-group" (ngSubmit)="onSubmit()">
        <label for="member">Integrante:</label>
        <!-- <input  ngModel placeholder="Login"> -->
        <input name="member" id="typeahead-basic" type="text" class="form-control" [ngbTypeahead]="search" formControlName="member"/>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>