$primary: #319795;
$secondary: #3182CE;
$green: #38A169;

/* Color Theme Swatches in Hex */
$ExpoApp-1: #0F2026;
$ExpoApp-2: #15442E;
$ExpoApp-3: #BFD962;
$ExpoApp-4: #8C8674;
$ExpoApp-5: #D9C8C1;

// $primary: #BFD962;
// $green: #73A626;

$dark: #0F2026;

@import
    'functions',
    'variables',
    'mixins';

$sidenav-background-color: $ExpoApp-1;

